*{
  margin: 3px;
  background-color: #0a66c1;
  color:#f1f1f1;
}


li{
list-style: none;  
}

.heading{
  text-align: center;
}
.input-text{
  height:40px;
  width:300px;
  border-radius: 30px;
}
label, input{
  display:block;
}
.exp{
  border-radius: 30px;
  text-align: left;
  width:300px;
}
input[type=button]{
  background-color: #f7e75c;
  font-weight: bold;
}
label{
  font-weight: bold;
}
.heading1{
  display:inline;

}